@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fb-tri {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }

  p {
    margin-bottom: 1.5rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 1.5rem;
  }
  ul:last-child {
    margin-bottom: 0;
  }
  input[type="file"]::file-selector {
    display: none;
  }

  div.ReactModal__Overlay {
    z-index: 99999999999999;
  }
}

@layer base {
  :root {
    --white: 255 255 255;
    --black: 0 0 0;
    --background-gray: 249 249 249;

    --text-black: 43 43 43;

    --blue: 30 117 237;
    --teal: 66 223 255;
    --purple: 51 78 207;
  }
  p>a {
    @apply transition-all;
    @apply text-fis-blue;
  }
  p>a:hover {
    @apply text-fis-purple;
  }
}

body {
  color: var(--text-black);
  background: var(--background-primary);
  font-family: "Lato, sans-serif";
}
